# Visual Studio build output directories
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/

# Visual Studio user settings and cache
.vs/
*.user
*.suo
*.db
*.opendb
*.sdf
*.opensdf

# Build intermediate files
*.obj
*.pdb
*.ilk
*.aps
*.tlog
*.idb
*.ipch
*.tlb
*.tlh

# Third-party binary / library files (not headers)
assimp/bin/
assimp/lib/
freeglut/bin/
freeglut/lib/
glew-1.10.0/bin/
glew-1.10.0/lib/
glew-1.10.0/doc/
glew-1.10.0/LICENSE.txt
glew-1.10.0/README.txt
glew-1.10.0/TODO.txt
freeglut/Copying.txt
freeglut/Readme.txt

# Binary file types (anywhere in the project)
*.lib
*.dll
*.exe

# Documents and archives
*.docx
*.zip
*.rar
*.7z
*.tar.gz